img{
    width: 100%;
    padding: 15px;
    background: #eee;
}
figure{
    width: 400px;
}
.projet{
    display: flex;
    justify-content: space-between;
    padding-bottom: 250px;
    margin-right: 35px;
    
}
/*------------------ Responsive Tablette---------------------  */
@media screen and (min-width: 700px){
    img{
        width: 21rem;
       height: 9.5rem;  
 }
 
    
 
}


 /*------------------ Responsive Téléphone---------------------  */

 @media screen and (max-width: 425px){
    .projet{
        flex-direction: column-reverse;
        margin: 15px 6px;
    }
    h3{
        text-align: center;
    }
    img{
        width: 18rem;
       height: 11rem;  
 }
 p{
    text-align: justify;
    
 }
 }