header{
    display: flex;
    justify-content: space-between;
    margin-bottom: 7rem;
}
a {
    text-decoration: none;
    color: black;

}
.Bems{
    display: flex;
    list-style: none;
}
ul .liBorder{
    border-right: 1px solid black;
}

ul li{
    padding: 2px;

}




footer{
    display: flex;
    justify-content: center;
    width: 95%;
    border-top: 1px solid rgba(132, 130, 130, 0.903);
}
.divFooter{
    display: flex;
    width: 98%;
    justify-content: space-between;
}
.title{
    font-weight: bolder;
    margin: 1rem 0rem;
}
.copyrigth{
    margin: 1rem 0rem;
}
.logoSociaux{
    display: flex;
    justify-content: space-between;
}
.logoSociaux i{
    font-size: 1.3rem;
}


/*------------------ Responsive Tablette footer de toutes les pages---------------------  */

@media screen and (min-width: 700px) {
    .divFooter {
        display: block;
        text-align: center;
        font-size: 1.3rem;
        
        
    }
    /*------Responsive Tablette page Projets--------*/
    .tab{
        display: flex;  
        margin: 3%;
        margin-top: 5%;
      }
    .tablette{
        font-size: large;
        margin-top: 10%;
    }

    /*--------------Ferme---------------*/
     .titleE{
        margin-top: 5%;
        font-weight: bold;
     }
     .titleS{
        margin-top: 5%;
        font-weight: bold;

     }
     .copyrigth{
        font-size: small;
     }
     
    header{ 
        font-size: 1.3rem;
    }
    .liBorder{
        text-align: center;
        font-size: 1rem;
        padding: 0px 15px;
     }
     .liBorderCo{
        text-align: center;
        font-size: 1rem;
        padding: 0px 15px;
    
     }
     
    
    
    .logoSociaux{
        display: flex;
        justify-content: center;
    }
 }
 /*--------------Responsive Téléphone-----------------*/
@media screen and (max-width: 425px){

    .divFooter {
        display: block;
        text-align: center;
        margin-top: 3%;
    }
    
        
    header{
        display: flex;
        flex-direction: column;
        text-align: center;
        align-items: center;
        justify-content: center;
    
    }
     
    .liBorder{
        text-align: center;
        font-size: 1rem;
        padding: 0px 16px;
        

     }
     .liBorderCo{
        text-align: center;
        font-size: 1rem;
        padding: 0px 16px;
    
     }
     .titleE{
        margin-top: 11%;
       
     }
     .titleS{
        margin-top: 11%;
     }
     .copyrigth{
        margin-top: 14%;
     }
    .Bems{
        justify-content: center;
        text-align: center;
        

    }
    
    .logoSociaux{
        display: flex;
        justify-content: center;
    }
    }
 